<H1>Create New Product</H1>
<form (ngSubmit)="saveProduct()">
    <div>
      <label for="productName">Product Name:</label>
      <input type="text" name="productName" [(ngModel)] ="product.productName" name="productName">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="product.description" name="description">
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="product.price" name="price">
    </div>
    <button type="submit">Save</button>
  </form>